<ul class="nav nav-tabs">
	<li role="presentation"><a>Welcome to Book Management</a></li>
  <li role="presentation" class="active"><a href="books">Home</a></li>
  <li role="presentation"><a href="books/new">New Book</a></li>
  <li role="presentation"><a href="books/search">Search a Book</a></li>
  <li role="presentation"><a href="books/issue_home">Issue Book</a></li>
</ul>
<p>
	<h5>book name</h5>
	<%@books.each do |book|%>
	<p>
		<%=book.name%>
		<%=link_to 'show', book%>
		<%=link_to 'edit books', edit_book_path(book)%>
		<%=link_to 'delete a book', book, method: :delete %>

	</p>
	<% end %>
</p>
<p>
	<%= render 'link'%>
</p>
